In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("E:\Car_Data.csv")

In [4]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [5]:
X=df.drop("Selling_Price",axis = 1)
X.head()

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0

In [6]:
y = df.Selling_Price
y.head()

0    3.35
1    4.75
2    7.25
3    2.85
4    4.60
Name: Selling_Price, dtype: float64

In [7]:
X.drop(["Car_Name","Present_Price"],axis=1,inplace =True )
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0  2014       27000    Petrol      Dealer       Manual      0
1  2013       43000    Diesel      Dealer       Manual      0
2  2017        6900    Petrol      Dealer       Manual      0
3  2011        5200    Petrol      Dealer       Manual      0
4  2014       42450    Diesel      Dealer       Manual      0

In [8]:
type(X['Year'])

pandas.core.series.Series

In [9]:
X['Present_Year'] = 2023
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Present_Year
0  2014       27000    Petrol      Dealer       Manual      0          2023
1  2013       43000    Diesel      Dealer       Manual      0          2023
2  2017        6900    Petrol      Dealer       Manual      0          2023
3  2011        5200    Petrol      Dealer       Manual      0          2023
4  2014       42450    Diesel      Dealer       Manual      0          2023

In [10]:
X['Year'] = X['Present_Year'] - X['Year']

In [11]:
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner  Present_Year
0     9       27000    Petrol      Dealer       Manual      0          2023
1    10       43000    Diesel      Dealer       Manual      0          2023
2     6        6900    Petrol      Dealer       Manual      0          2023
3    12        5200    Petrol      Dealer       Manual      0          2023
4     9       42450    Diesel      Dealer       Manual      0          2023

In [12]:
X.drop("Present_Year",axis = 1,inplace = True)
X.head()

   Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0     9       27000    Petrol      Dealer       Manual      0
1    10       43000    Diesel      Dealer       Manual      0
2     6        6900    Petrol      Dealer       Manual      0
3    12        5200    Petrol      Dealer       Manual      0
4     9       42450    Diesel      Dealer       Manual      0

In [13]:
X['Fuel_Type'].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [14]:
X['Seller_Type'].unique()

array(['Dealer', 'Individual'], dtype=object)

In [15]:
X['Transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [16]:
X = pd.get_dummies(data = X, columns=['Fuel_Type','Seller_Type','Transmission'],drop_first =True)
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,27000,0,0,1,0,1
1,10,43000,0,1,0,0,1
2,6,6900,0,0,1,0,1
3,12,5200,0,0,1,0,1
4,9,42450,0,1,0,0,1

In [17]:
X.describe()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
count,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,9.372093,36947.205980,0.043189,0.199336,0.794020,0.352159,0.867110
std,2.891554,38886.883882,0.247915,0.400166,0.405089,0.478439,0.340021
min,5.000000,500.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.000000,15000.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,9.000000,32000.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,11.000000,48767.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,20.000000,500000.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
from sklearn.preprocessing import MinMaxScaler

In [19]:
scaler = MinMaxScaler()

In [20]:
 X['Year'] =scaler.fit_transform(X[['Year']])
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.266667,27000,0,0,1,0,1
1,0.333333,43000,0,1,0,0,1
2,0.066667,6900,0,0,1,0,1
3,0.466667,5200,0,0,1,0,1
4,0.266667,42450,0,1,0,0,1

In [21]:
 X['Kms_Driven'] =scaler.fit_transform(X[['Kms_Driven']])
X['Owner'] =scaler.fit_transform(X[['Owner']])
X.head()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.266667,0.053053,0.0,0,1,0,1
1,0.333333,0.085085,0.0,1,0,0,1
2,0.066667,0.012813,0.0,0,1,0,1
3,0.466667,0.009409,0.0,0,1,0,1
4,0.266667,0.083984,0.0,1,0,0,1

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [24]:
X_train.shape

(240, 7)

In [25]:
X_test.shape

(61, 7)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
model = LinearRegression()

In [28]:
model.fit(X_train,y_train)

LinearRegression()

In [29]:
model.score(X_test,y_test)

0.5902852717348187

In [30]:
X_test[:5]

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
177,0.133333,0.047047,0.000000,0,1,1,0
289,0.133333,0.020981,0.000000,0,1,0,1
228,0.400000,0.119119,0.000000,1,0,0,1
198,0.466667,0.069069,0.333333,0,1,1,1
60,0.333333,0.079081,0.000000,0,1,0,1

In [31]:
predicted = model.predict(X_test)
predicted

array([ 5.97794492,  5.3246979 ,  9.15930812, -0.43919744,  4.3655473 ,
       10.06732916,  0.87891787,  0.68344957,  1.20907945,  9.7792233 ,
       11.07710198,  0.2949209 ,  9.56784369,  6.35614711,  9.50293903,
        4.25540861,  0.11516681,  5.61121886,  1.50960852,  1.5419349 ,
        0.38920619, 10.44657746,  9.28357614,  3.90277877,  0.60712338,
        4.1117164 ,  4.29056804,  3.79951392,  1.49883305,  1.19112035,
        0.37124709,  9.69840734, -0.50699326,  2.90331447, 10.3407714 ,
        4.66428494,  4.22187896,  3.16163964,  4.28976886,  3.49180122,
        1.99813547,  6.26553644,  4.73612136,  0.53079719, 10.10745877,
        0.29941067,  4.64127035,  8.17087117,  4.41044955,  9.19463368,
        9.19638515,  1.52981251, 14.86029125, 15.55653262,  9.98196055,
       10.04968479,  5.0775433 , 10.38123326,  2.3846168 , 10.12014734,
        0.30839023])

In [32]:
y_test

177     0.35
289    10.11
228     4.95
198     0.15
60      6.95
       ...
234     5.50
296     9.50
281     2.10
285     7.40
182     0.30
Name: Selling_Price, Length: 61, dtype: float64